<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:json="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src='http://localhost:8000/CLodopfuncs.js?name=CLODOPA'></script>
    <script src='../templates/LodopFunc.js'></script>
    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
        <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
</head>
<body onload="print()">
    <h2>Thermal Printer Test-Print</h2>
    <p id="demo" th:text="${testing}"></p>

    <script>
        var LODOP=getLodop();
        var information = document.getElementById("demo").innerHTML;
        var ws = new WebSocket("http://47.254.235.59/print");
        ws.alert("connected connected!!!")
        ws.onopen = function () {
            ws.alert("hello hello hello dummy")
        };
        ws.onclose = function (event) {
            ws.alert("close close close dummy")
        };
        ws.onmessage = function (event) {
            var received_msg = event.data;
            print(received_msg);
            alert("Message is received...");
        };

        function data() {
            // var information = document.getElementById("demo");
            var shipping={};
            // shippingList['order_id'] = $("#demo").val();

            LODOP.PRINT_INIT("");
            LODOP.ADD_PRINT_TEXT(30,10,350,30,"erteretetee");

            $.ajax({
                type: 'post',
                url:"/callback",
                data: JSON.parse(shipping),
                contentType: "application/json",

                success : function(response){
                    layer.close(index);
                    layer.msg(response.message);

                    if(response === 200){
                        location.href="/callback"
                    }
                }
            });
        }
        function print() {
            LODOP.WRITE_PORT_DATA("USB001",LODOP.PREVIEW(data()));
        }
    </script>
</body>
</html>
